
@page "/classdetails/{id}"
@inherits ClassDetailsBase

<link href="css/App.css" rel="stylesheet" />

<PageTitle>Class Details</PageTitle>

<MudGrid Class="mt-n16 px-5" Style="@($"background:#ffffff;")">
    <MudItem xs="9">
        <MudText Typo="Typo.h5" Class="d-flex pt-2 justify-start"><b>Class Details</b></MudText>
    </MudItem>
    <MudItem xs="3" Class="d-flex justify-end">
        <MudIconButton Icon="@Icons.Material.Filled.Message" Color="Color.Inherit" Edge="Edge.End" />
        <MudIconButton Icon="@Icons.Material.Filled.Notifications" Color="Color.Inherit" Edge="Edge.End" />
    </MudItem>
</MudGrid>

<MudDialog @ref="changeTeacherDialog" @bind-IsVisible="changeTeacherDialogVisible" Options="changeTeacherDialogOptions">
    <TitleContent>
        <MudText Typo="Typo.h6" Align="Align.Center"><b>Confirm Submission</b></MudText>
    </TitleContent>
    <DialogContent>
        <MudText>Class - @ClassSelected.Form.Form@ClassSelected.Stream.Stream</MudText>
        <MudText>New class teacher - @SelectedTeacherOnTeacherCard.Staff.FirstName @SelectedTeacherOnTeacherCard.Staff.MiddleName @SelectedTeacherOnTeacherCard.Staff.Surname</MudText>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="ChangeTeacherDialogDialogSubmit">Continue</MudButton>
    </DialogActions>
</MudDialog>


@if (dataIsLoaded == false)
{
    <MudProgressLinear Color="Color.Tertiary" Size="Size.Small" Indeterminate="true" Class="mt-4" />
}
else
{
    <MudGrid Class="pt-4 px-2">
        <MudItem xs="12">
            <MudCard Elevation="0" Class="d-flex justify-center">
                <MudText Typo="Typo.h6" Align="Align.Left"><b>@ClassSelected.Form.Form@ClassSelected.Stream.Stream</b></MudText>
            </MudCard>
        </MudItem>
    </MudGrid>
    <MudGrid Class="pa-2">
        <MudItem xs="3">
            <MudCard Elevation="0">
                <MudCardHeader Class="d-flex flex-column object-center">
                    <MudAvatar Style="height:100px; width:100px;" Color="Color.Warning" Variant="Variant.Outlined">
                        <MudImage ObjectPosition="ObjectPosition.Center" Src="images/mercyNjoki.jpg"></MudImage>
                    </MudAvatar>
                    <MudText Typo="Typo.h6" Class="mt-4 mb-n12">@TeacherName</MudText>
                </MudCardHeader>
                <MudCardContent>
                    <MudDivider DividerType="DividerType.FullWidth" Class="my-4" />
                    <MudText Typo="Typo.body2">Gender : @Teacher.Staff.Gender</MudText>
                    <MudDivider DividerType="DividerType.FullWidth" Class="my-4" />
                    <MudText Typo="Typo.body2">National ID : @Teacher.Staff.NationalId</MudText>
                    <MudDivider DividerType="DividerType.FullWidth" Class="my-4" />
                    <MudText Typo="Typo.body2">Employment Date : @Teacher.Staff.EmploymentDate.Value.ToShortDateString()</MudText>
                    @if (showTscNumber)
                    {
                        <MudDivider DividerType="DividerType.FullWidth" Class="my-4" />
                        <MudText Typo="Typo.body2">TSC Number : @Teacher.TSCNumber</MudText>
                    }                 
                    <MudDivider DividerType="DividerType.FullWidth" Class="my-4" />
                    <MudText Typo="Typo.body2">Teacher Type : @Teacher.TeacherType</MudText>
                    <MudDivider DividerType="DividerType.FullWidth" Class="my-4" />
                    <MudListSubheader>Subjects</MudListSubheader>
                    @foreach(var subject in Subjects)
                    {
                        <MudList Clickable = "false" Dense = "true" DisableGutters = "false" >
                            <MudListItem Text="@subject.SubjectName"/>
                        </MudList>
                    }
                    <MudDivider DividerType="DividerType.FullWidth" Class="my-4" />
                    <MudButton Class="py-2" Variant="Variant.Filled" Color="Color.Primary" FullWidth="true" OnClick="@ChangeClassTeacher" StartIcon="@Icons.Material.Filled.Save" Style="background-color:#DA4167">Change class teacher</MudButton>
                    @if(showTeacherList)
                    {
                        <MudAutocomplete Class="py-2" T="TeacherModel" Label="Teacher" @bind-Value="SelectedTeacherOnTeacherCard" ShowProgressIndicator="true"
                                         SearchFunc="@TeacherSearchOnTeacherCard" ToStringFunc="@(e=> e==null?null : $"{e.Staff.FirstName} {e.Staff.MiddleName} {e.Staff.Surname}")" />
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="py-2" FullWidth="true" OnClick="@ChangeClassTeacherSubmit" StartIcon="@Icons.Material.Filled.Save" Style="background-color:#DA4167">Submit</MudButton>
                    }
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem xs="9" Class="d-flex justify-space-between gap-1">
            <MudTabs ApplyEffectsToContainer="true" Border="true" Color="Color.Surface" Elevation="0">
                <MudTabPanel Text="Students">
                    @if (Students is null)
                    {
                        <MudProgressLinear Color="Color.Tertiary" Size="Size.Small" Indeterminate="true" Class="mt-4"/>
                    }
                    else
                    {
                        <MudTable Bordered="true" Elevation="0" RowsPerPage="20" Items="@Students" FixedHeader="true" Hover="true" SortLabel="Sort By" T="StudentModel" OnRowClick="StudentRowClickEvent" Dense="true">
                            <HeaderContent>
                                <MudTh>#</MudTh>
                                <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<StudentModel, object>(x=>x.StudentNumber)">Adm No.</MudTableSortLabel></MudTh>
                                <MudTh>Class</MudTh>
                                <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<StudentModel, object>(x=>x.StudentName())">Name</MudTableSortLabel></MudTh>
                                <MudTh>Gender</MudTh>
                                <MudTh>KCPE</MudTh>
                                <MudTh>Contact</MudTh>
                            </HeaderContent>
                            <RowTemplate>
                                <MudTd DataLabel="StudentNumber">@context.Index</MudTd>
                                <MudTd DataLabel="StudentNumber">@context.StudentNumber</MudTd>
                                <MudTd DataLabel="StudentClass">@context.StudentClass.FullClass()</MudTd>
                                <MudTd DataLabel="Name">@context.StudentName()</MudTd>
                                <MudTd DataLabel="Gender">@context.Gender</MudTd>
                                <MudTd DataLabel="KCPEResult">@context.KCPEResult</MudTd>
                                <MudTd DataLabel="PhoneNumber">@context.PhoneNumber</MudTd>
                            </RowTemplate>
                            <PagerContent>
                                <MudTablePager PageSizeOptions="new int[] { 20, 40, 60,80 , 100, int.MaxValue }" />
                            </PagerContent>
                        </MudTable>
                    }
                </MudTabPanel>
                <MudTabPanel Text="Subjects">
                    @if (ClassSubjectList is null)
                    {
                        <MudProgressLinear Color="Color.Tertiary" Size="Size.Small" Indeterminate="true" Class="mt-4" />
                    }
                    else
                    {
                        <MudTable Bordered="true"Elevation="0" Items="@ClassSubjectList" FixedHeader="true" Hover="true" SortLabel="Sort By" Striped="true" T="ClassSubjectList" Dense="true">
                            <HeaderContent>
                                <MudTh>#</MudTh>
                                <MudTh>Code</MudTh>
                                <MudTh>Subject</MudTh>
                                <MudTh>Student Count</MudTh>
                            </HeaderContent>
                            <RowTemplate>
                                <MudTd DataLabel="#">@context.Index</MudTd>
                                <MudTd DataLabel="StudentNumber">@context.SubjectCode</MudTd>
                                <MudTd DataLabel="StudentClass">@context.SubjectName</MudTd>
                                <MudTd DataLabel="Name">@context.StudentCount</MudTd>
                            </RowTemplate>
                        </MudTable>
                    }
                </MudTabPanel>
                <MudTabPanel Text="Timetable">
                    @if (TimetableModels is null)
                    {
                        <MudProgressCircular Size="Size.Large" Color="Color.Secondary" Indeterminate="true" />
                    }
                    else
                    {
                        <table class="minimalistBlack">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>8:00 - 8:40</th>
                                    <th>8:40 - 9:20</th>
                                    <th>9:20 - 9:30</th>
                                    <th>9:30 - 10:10</th>
                                    <th>10:10 - 10:50</th>
                                    <th>10:50 - 11:20</th>
                                    <th>11:20 - 12:00</th>
                                    <th>12:00 - 12:40</th>
                                    <th>12:40 - 1:20</th>
                                    <th>1:20 - 2:00</th>
                                    <th>2:00 - 2:40</th>
                                    <th>2:40 - 3:20</th>
                                    <th>3:20 - 4:00</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>MON</th>
                                    @if (TM800_840_Monday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM800_840_Monday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM800_840_Monday.Lab is not null)
                                                {
                                                    <sub>@TM800_840_Monday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    @if (TM840_920_Monday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM840_920_Monday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM840_920_Monday.Lab is not null)
                                                {
                                                    <sub>@TM840_920_Monday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    <td class="vertical" rowspan="5"><b>SHORT BREAK</b></td>
                                    @if (TM930_1010_Monday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM930_1010_Monday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM930_1010_Monday.Lab is not null)
                                                {
                                                    <sub>@TM930_1010_Monday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    @if (TM1010_1050_Monday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM1010_1050_Monday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM1010_1050_Monday.Lab is not null)
                                                {
                                                    <sub>@TM1010_1050_Monday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    <td class="vertical" rowspan="5"><b>LONG BREAK</b></td>
                                    @if (TM1120_1200_Monday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM1120_1200_Monday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM1120_1200_Monday.Lab is not null)
                                                {
                                                    <sub>@TM1120_1200_Monday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    @if (TM1200_1240_Monday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM1200_1240_Monday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM1200_1240_Monday.Lab is not null)
                                                {
                                                    <sub>@TM1200_1240_Monday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    @if (TM1240_120_Monday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM1240_120_Monday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM1240_120_Monday.Lab is not null)
                                                {
                                                    <sub>@TM1240_120_Monday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    <td class="vertical" rowspan="5"><b>LUNCH BREAK</b></td>
                                    @if (TM200_240_Monday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM200_240_Monday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM200_240_Monday.Lab is not null)
                                                {
                                                    <sub>@TM200_240_Monday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    @if (TM240_320_Monday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM240_320_Monday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM240_320_Monday.Lab is not null)
                                                {
                                                    <sub>@TM240_320_Monday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    @if (TM320_400_Monday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM320_400_Monday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM320_400_Monday.Lab is not null)
                                                {
                                                    <sub>@TM320_400_Monday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <th>TUE</th>
                                    @if (TM800_840_Tuesday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM800_840_Tuesday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM800_840_Tuesday.Lab is not null)
                                                {
                                                    <sub>@TM800_840_Tuesday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    @if (TM840_920_Tuesday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM840_920_Tuesday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM840_920_Tuesday.Lab is not null)
                                                {
                                                    <sub>@TM840_920_Tuesday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    @if (TM930_1010_Tuesday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM930_1010_Tuesday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM930_1010_Tuesday.Lab is not null)
                                                {
                                                    <sub>@TM930_1010_Tuesday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    @if (TM1010_1050_Tuesday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM1010_1050_Tuesday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM1010_1050_Tuesday.Lab is not null)
                                                {
                                                    <sub>@TM1010_1050_Tuesday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    @if (TM1120_1200_Tuesday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM1120_1200_Tuesday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM1120_1200_Tuesday.Lab is not null)
                                                {
                                                    <sub>@TM1120_1200_Tuesday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    @if (TM1200_1240_Tuesday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM1200_1240_Tuesday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM1200_1240_Tuesday.Lab is not null)
                                                {
                                                    <sub>@TM1200_1240_Tuesday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    @if (TM1240_120_Tuesday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM1240_120_Tuesday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM1240_120_Tuesday.Lab is not null)
                                                {
                                                    <sub>@TM1240_120_Tuesday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    @if (TM200_240_Tuesday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM200_240_Tuesday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM200_240_Tuesday.Lab is not null)
                                                {
                                                    <sub>@TM200_240_Tuesday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    @if (TM240_320_Tuesday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM240_320_Tuesday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM240_320_Tuesday.Lab is not null)
                                                {
                                                    <sub>@TM240_320_Tuesday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    @if (TM320_400_Tuesday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM320_400_Tuesday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM320_400_Tuesday.Lab is not null)
                                                {
                                                    <sub>@TM320_400_Tuesday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <th>WED</th>
                                    @if (TM800_840_Wednesday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM800_840_Wednesday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM800_840_Wednesday.Lab is not null)
                                                {
                                                    <sub>@TM800_840_Wednesday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    @if (TM840_920_Wednesday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM840_920_Wednesday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM840_920_Wednesday.Lab is not null)
                                                {
                                                    <sub>@TM840_920_Wednesday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    @if (TM930_1010_Wednesday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM930_1010_Wednesday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM930_1010_Wednesday.Lab is not null)
                                                {
                                                    <sub>@TM930_1010_Wednesday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    @if (TM1010_1050_Wednesday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM1010_1050_Wednesday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM1010_1050_Wednesday.Lab is not null)
                                                {
                                                    <sub>@TM1010_1050_Wednesday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    @if (TM1120_1200_Wednesday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM1120_1200_Wednesday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM1120_1200_Wednesday.Lab is not null)
                                                {
                                                    <sub>@TM1120_1200_Wednesday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    @if (TM1200_1240_Wednesday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM1200_1240_Wednesday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM1200_1240_Wednesday.Lab is not null)
                                                {
                                                    <sub>@TM1200_1240_Wednesday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    @if (TM1240_120_Wednesday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM1240_120_Wednesday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM1240_120_Wednesday.Lab is not null)
                                                {
                                                    <sub>@TM1240_120_Wednesday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    @if (TM200_240_Wednesday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM200_240_Wednesday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM200_240_Wednesday.Lab is not null)
                                                {
                                                    <sub>@TM200_240_Wednesday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    @if (TM240_320_Wednesday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM240_320_Wednesday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM240_320_Wednesday.Lab is not null)
                                                {
                                                    <sub>@TM240_320_Wednesday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    @if (TM320_400_Wednesday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM320_400_Wednesday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM320_400_Wednesday.Lab is not null)
                                                {
                                                    <sub>@TM320_400_Wednesday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <th>THUR</th>
                                    @if (TM800_840_Thursday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM800_840_Thursday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM800_840_Thursday.Lab is not null)
                                                {
                                                    <sub>@TM800_840_Thursday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    @if (TM840_920_Thursday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM840_920_Thursday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM840_920_Thursday.Lab is not null)
                                                {
                                                    <sub>@TM840_920_Thursday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    @if (TM930_1010_Thursday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM930_1010_Thursday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM930_1010_Thursday.Lab is not null)
                                                {
                                                    <sub>@TM930_1010_Thursday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    @if (TM1010_1050_Thursday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM1010_1050_Thursday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM1010_1050_Thursday.Lab is not null)
                                                {
                                                    <sub>@TM1010_1050_Thursday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    @if (TM1120_1200_Thursday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM1120_1200_Thursday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM1120_1200_Thursday.Lab is not null)
                                                {
                                                    <sub>@TM1120_1200_Thursday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    @if (TM1200_1240_Thursday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM1200_1240_Thursday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM1200_1240_Thursday.Lab is not null)
                                                {
                                                    <sub>@TM1200_1240_Thursday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    @if (TM1240_120_Thursday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM1240_120_Thursday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM1240_120_Thursday.Lab is not null)
                                                {
                                                    <sub>@TM1240_120_Thursday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    @if (TM200_240_Thursday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM200_240_Thursday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM200_240_Thursday.Lab is not null)
                                                {
                                                    <sub>@TM200_240_Thursday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    @if (TM240_320_Thursday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM240_320_Thursday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM240_320_Thursday.Lab is not null)
                                                {
                                                    <sub>@TM240_320_Thursday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    @if (TM320_400_Thursday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM320_400_Thursday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM320_400_Thursday.Lab is not null)
                                                {
                                                    <sub>@TM320_400_Thursday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <th>FRI</th>
                                    @if (TM800_840_Friday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM800_840_Friday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM800_840_Friday.Lab is not null)
                                                {
                                                    <sub>@TM800_840_Friday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    @if (TM840_920_Friday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM840_920_Friday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM840_920_Friday.Lab is not null)
                                                {
                                                    <sub>@TM840_920_Friday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    @if (TM930_1010_Friday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM930_1010_Friday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM930_1010_Friday.Lab is not null)
                                                {
                                                    <sub>@TM930_1010_Friday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    @if (TM1010_1050_Friday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM1010_1050_Friday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM1010_1050_Friday.Lab is not null)
                                                {
                                                    <sub>@TM1010_1050_Friday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    @if (TM1120_1200_Friday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM1120_1200_Friday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM1120_1200_Friday.Lab is not null)
                                                {
                                                    <sub>@TM1120_1200_Friday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    @if (TM1200_1240_Friday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM1200_1240_Friday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM1200_1240_Friday.Lab is not null)
                                                {
                                                    <sub>@TM1200_1240_Friday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    @if (TM1240_120_Friday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM1240_120_Friday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM1240_120_Friday.Lab is not null)
                                                {
                                                    <sub>@TM1240_120_Friday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    @if (TM200_240_Friday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM200_240_Friday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM200_240_Friday.Lab is not null)
                                                {
                                                    <sub>@TM200_240_Friday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    @if (TM240_320_Friday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM240_320_Friday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM240_320_Friday.Lab is not null)
                                                {
                                                    <sub>@TM240_320_Friday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                    @if (TM320_400_Friday is null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @foreach (var teacherSubject in TM320_400_Friday.TeacherSubjects)
                                            {
                                                @teacherSubject.Subject.SubjectName.Substring(0,3).ToUpper()
                                                <sub>@teacherSubject.Teacher.Initials()</sub>
                                                @space
                                                @if (TM320_400_Friday.Lab is not null)
                                                {
                                                    <sub>@TM320_400_Friday.Lab.LabName.ToUpper()</sub>
                                                }
                                                @space
                                            }
                                        </td>
                                    }
                                </tr>
                            </tbody>
                        </table>
                    }
                </MudTabPanel>
            </MudTabs>
        </MudItem>
    </MudGrid>
}


