@page "/Pages/Timetable"

@inherits TimetableBase

<link href="css/App.css" rel="stylesheet" />

<MudGrid Class="mt-n12 px-5">
    <MudItem xs="9">
        <MudText Typo="Typo.h5" Class="d-flex justify-start">TIMETABLE</MudText>
    </MudItem>
    <MudItem xs="3" Class="d-flex justify-end">
        <MudIconButton Icon="@Icons.Material.Filled.Message" Color="Color.Inherit" Edge="Edge.End" />
        <MudIconButton Icon="@Icons.Material.Filled.Notifications" Color="Color.Inherit" Edge="Edge.End" />
    </MudItem>
</MudGrid>
<MudDivider DividerType="DividerType.FullWidth" />

<MudDialog @ref="timetableDialog" @bind-IsVisible="visible" Options="dialogOptions">
    <TitleContent>
        <MudText Typo="Typo.h6" Align="Align.Center"><b>Confirm Submission</b></MudText>
    </TitleContent>
    <DialogContent>
        <MudText>Class : @SelectedClass.FullClass()</MudText>
        <MudText>Subject : @TeacherAndSubject.Subject.SubjectName</MudText>
        <MudText>Teacher : @TeacherAndSubject.Teacher.Staff.FirstName @TeacherAndSubject.Teacher.Staff.MiddleName @TeacherAndSubject.Teacher.Staff.Surname</MudText>
        <MudText>Timeslot : @SelectedTimeSlot.TimeSlotString()</MudText>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="DialogSubmit">Continue</MudButton>
    </DialogActions>
</MudDialog>

<MudTabs Elevation="2" ApplyEffectsToContainer="true" Border="true" Color="Color.Surface">
    <MudTabPanel Text="Overall Timetable">
        <table class="minimalistBlack">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>8:00 - 8:40</th>
                    <th>8:40 - 9:20</th>
                    <th>9:20 - 9:30</th>
                    <th>9:30 - 10:10</th>
                    <th>10:10 - 10:50</th>
                    <th>10:50 - 11:20</th>
                    <th>11:20 - 12:00</th>
                    <th>12:00 - 12:40</th>
                    <th>12:40 - 1:20</th>
                    <th>1:20 - 2:00</th>
                    <th>2:00 - 2:40</th>
                    <th>2:40 - 3:20</th>
                    <th>3:20 - 4:00</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th rowspan="9">MONDAY</th>
                </tr>
                <tr>
                    <th>1K</th>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>1W</th>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>2K</th>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>2W</th>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>3K</th>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>3W</th>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>4K</th>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>4W</th>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th rowspan="9">TUESDAY</th>
                </tr>
                <tr>
                    <th>1K</th>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>1W</th>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>2K</th>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>2W</th>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>3K</th>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>3W</th>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>4K</th>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>4W</th>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th rowspan="9">WEDNESDAY</th>
                </tr>
                <tr>
                    <th>1K</th>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>1W</th>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>2K</th>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>2W</th>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>3K</th>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>3W</th>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>4K</th>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>4W</th>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th rowspan="9">THURSDAY</th>
                </tr>
                <tr>
                    <th>1K</th>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>1W</th>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>2K</th>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>2W</th>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>3K</th>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>3W</th>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>4K</th>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>4W</th>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th rowspan="9">FRIDAY</th>
                </tr>
                <tr>
                    <th>1K</th>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>1W</th>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>2K</th>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>2W</th>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>3K</th>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>3W</th>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>4K</th>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>4W</th>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="break"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </MudTabPanel>
    <MudTabPanel Text="Double Lessons">
        <MudGrid Class="d-flex px-4 mt-4 align-center">
            <MudItem xs="3">
                <MudCard>
                    <MudCardContent>
                        <MudAutocomplete T="ClassModel" Label="Form" @bind-Value="SelectedClass" ShowProgressIndicator="true"
                                         SearchFunc="@SelectedClassSearch" ToStringFunc="@(e=> e==null?null : $"{e.Form.Form}{e.Stream.Stream}")" />
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="3">
                <MudCard>
                    <MudCardContent>
                        <MudAutocomplete T="SubjectModel" Label="Subject" @bind-Value="SelectedSubject" ShowProgressIndicator="true"
                                         SearchFunc="@SelectedSubjectSearch" ToStringFunc="@(e=> e==null?null : $"{e.SubjectName}")" />
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="3">
                <MudCard>
                    <MudCardContent>
                        <MudAutocomplete T="TimeSlotModel" Label="Timeslot" @bind-Value="SelectedTimeSlot" ShowProgressIndicator="true"
                                         SearchFunc="@SelectedTimeSlotSearch" ToStringFunc="@(e=> e==null?null : $"{e.TimeSlotString()}")" />
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="2">
                <MudButton Variant="Variant.Filled" FullWidth="true" OnClick="@FindClass" StartIcon="@Icons.Material.Filled.Save" Style="background-color:#e38d43">Submit</MudButton>
            </MudItem>
        </MudGrid>
        <MudDivider DividerType="DividerType.FullWidth" Class="my-6" />
        <MudGrid Class="d-flex pa-4">
            <MudItem xs="12">
                @if (TeacherSubjects is null && isLoading is true)
                {
                    <MudProgressCircular Size="Size.Medium" Color="Color.Success" Indeterminate="true" />
                }
                else if (TeacherSubjects is not null)
                {
                    <MudTable Items="@TeacherSubjects" FixedHeader="true" Hover="true" SortLabel="Sort By" Striped="true" OnRowClick="ClassRowClickEvent" T="TeacherSubjectModel">
                        <HeaderContent>
                            <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<TeacherSubjectModel, object>(x=>x.Code)">Code</MudTableSortLabel></MudTh>
                            <MudTh>Category</MudTh>
                            <MudTh>Subject</MudTh>
                            <MudTh>Teacher</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="Code">@context.Code</MudTd>
                            <MudTd DataLabel="SubjectCategory">@context.Subject.SubjectCategory.SubjectCategoryName</MudTd>
                            <MudTd DataLabel="SubjectName">@context.Subject.SubjectName</MudTd>
                            <MudTd DataLabel="Surname">@context.Teacher.Staff.FirstName @context.Teacher.Staff.MiddleName @context.Teacher.Staff.Surname</MudTd>
                        </RowTemplate>
                        <PagerContent>
                            <MudTablePager />
                        </PagerContent>
                    </MudTable>
                }
            </MudItem>
        </MudGrid>
    </MudTabPanel>
</MudTabs>
    
